html, body {
    height: 100%;
    width: 100%;
}

.outside{
    width:450px;
    min-width: 450px;
    height:670px;
    border: 15px solid yellow;
    background: #f15a09;
    border-radius: 25px;
    position: relative;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.name{
    font-weight: bold;
    font-size: 30px;
    color: black;
    top: -15px;
    left: 12px;
    position: relative;
}

.health {
    grid-area: health;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    top: -4px;
    right: 40px;
    color: black;
    position: absolute;
}

.element-fire1{
    height: 25px;
    position: absolute;
    top: 15px;
    right: 12px;
}

.pokemon-image{
    width: 95%;
    position: relative;
    top: -35px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.element-fire2{
    height: 25px;
    width: 25px;
    left: 12px;
    position: relative;
  
}

.ability-name{
    position: relative;
    left: 30%;
    top: -48px;
}

.dscrp1{
    position: relative;
    top: -50px;
    left: 12px;
}

.element-fire3{
    height: 25px;
    width: 25px;
    left: 12px;
    position: relative;
}

.element-fire4{
    height: 25px;
    width: 25px;
    left: 12px;
    position: relative;
}

.element-colorless{
    width: 25px;
    height: 25px;
    position: relative;
    left: 12px;
}

.ability-name2{
    position: relative;
    left: 30%;
    top: -48px;
}

.ability-dmg{
    position: relative;
    text-align: right;
    top: -96px;
    right: 12px;
}

.dscrp2{
  position: relative;
  top: -100px;
  left:12px;
}



</body>

</html>
